<!DOCTYPE html>
<html lang="en">
<head><%- include('../../layout/head');%></head>
<body>
	<header><%- include('../../layout/header');%></header>

	<button class="btn btn-primary"><a href="/admin/product/create" class="link-create">Crear Producto</a></button>
	<table class="table table-dark table-striped">
	 	<tr>
	 		<th>ID</th>
	 		<th>Nombre</th>
	 		<th>Descripción</th>
	 		<th>Precio</th>
	 		<th>Stock</th>
	 		<th>Categoria</th>
	 		<th>Fecha de creacion</th>
	 		<th>Fecha de Actualizacion</th>
	 		<th>Estado</th>
	 		<th>Acciones</th>
	 	</tr>

	 	<%let aux=0; %>
	 	<% products.forEach(function(product){ aux++; %>

	 		<tr>
	 			<td><%=aux%></td>
	 			<td><%=product.nombre%></td>
	 			<td><%=product.descripcion%></td>
	 			<td><%=product.precio%></td>
	 			<td><%=product.stock%></td>
	 			<td><%=product.categoria%></td>
	 			<td><%=
	 				product.fecha_creacion.getDate()+'/'+
	 				product.fecha_creacion.getMonth()+'/'+
	 				product.fecha_creacion.getFullYear()
	 				%></td>
	 			<td><%=
	 				product.fecha_actualizacion.getDate()+'/'+
	 				product.fecha_actualizacion.getMonth()+'/'+
	 				product.fecha_actualizacion.getFullYear()
	 				%></td>
	 			<td><%=product.estado?'Si':'No'%></td>
	 			<td>
	 				<button class="btn btn-success"><a href="" class="action-icons"><i class="fa fa-eye" aria-hidden="true"></i></a></button>
	  				<button class="btn btn-warning"><a href="/admin/product/update/id/<%=product._id%>" class="action-icons"><i class="fa fa-edit"></i></a></button>
	  				<button class="btn btn-danger"><a href="/admin/product/delete/id/<%=product._id%>" class="action-icons"><i class="fa fa-trash" ></i></a></button>
	  			</td>
	 		</tr>
	 	<%});%>
	</table>

	<footer><%- include('../../layout/footer');%></footer>
</body>
</html>